*.npy
*.txt
*.dat
.*
*~
.ipynb_checkpoints
*.egg-info/*
*.pdf
__pycache__
.config
.datadump
qdpy_output
*.out
*.err
*.png
*.log
jobscripts/gnup_v11.sh
jobscripts/gnup_v11.pbs
jobscripts/ipjobs_v11.sh
jobscripts/ipjobs*.sh
*.pbs
